<h1>Password Generator</h1>
<div>
  <label>Enter length</label>
  <input (input)="enterLength($event.target.value)"/>
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox" (change)="setUseLetters()"/>
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox" (change)="setUseNumbers()"/>
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox" (change)="setUseSymbols()"/>
</div>

<div>
  <button
    [disabled]="!(passwordLength && (useLetters || useNumbers || useSymbols))"
    (click)="onGenerate()"
  >
    Generate
  </button>
</div>

<div>
  <label>Your password</label>
  <input [value]="generatedPassword"/>
</div>
